<v-form method="POST" :action="data.worklogsStoreUrl" class="work-logs-create"
        @work="isOccupied = true"
        @done="isOccupied = false"
        @success="onSuccess"
>
    <div class="container">
        <div class="row form-group">
            <div class="col-xs-12 form-group">
                <label for="form_project" v-text="$trans('Project')"></label>
                <v-select name="project_id"
                          class="form-control"
                          :url="data.projectsSearchUrl"
                          :options="data.projectOptions"
                          :selected="data.projectSelected"
                          v-model="project"
                >
                </v-select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 form-group">
                <label for="form_date" v-text="$trans('Date')"></label>
                <input type="date" id="form_date" name="date" class="form-control" ref="date">
            </div>
            <div class="col-xs-6 form-group">
                <label for="form_starts_at" v-text="$trans('Start time')"></label>
                <input type="time" id="form_starts_at" name="starts_at" class="form-control">
            </div>
            <div class="col-xs-6 form-group">
                <label for="form_ends_at" v-text="$trans('End time')"></label>
                <input type="time" id="form_ends_at" name="ends_at" class="form-control">
            </div>
        </div>

        <button type="submit"
                class="btn btn-success"
                :disabled="isOccupied"
                v-text="$trans('Log work')"
        ></button>
    </div>
</v-form>