<form class="container">
    <div class="row form-group">
        <div class="col-xs-12">
            <label for="form_project">Project</label>
            <vue-select name="project"
                        classes="form-control"
                        :url="data.projectsUrl"
                        v-model="project"
            >
            </vue-select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <label for="form_date">Date</label>
            <input type="date" id="form_date" name="date" class="form-control" ref="date">
        </div>
        <div class="col-xs-6">
            <label for="form_date">From</label>
            <input type="time" id="form_starts_at" name="starts_at" class="form-control">
        </div>
        <div class="col-xs-6">
            <label for="form_date">To</label>
            <input type="time" id="form_end_at" name="ends_at" class="form-control">
        </div>
    </div>

    <button type="submit" class="btn btn-default">Log work</button>
</form>