<div class="container work-log">
    <div class="row form-group">
        <div class="col-xs-12 form-group">
            <label for="form_project_id" v-text="$trans('Project')"></label>
            <v-select id="form_project_id"
                      name="project_id"
                      class="form-control input-lg"
                      :placeholder="$trans('Wybierz zlecenie')"
                      url="/api/search/projects/select2"
                      v-model="projectId"
            >
                <option v-for="(value, key) in data.projectOptions"
                        :value="key"
                        v-text="value"
                ></option>
            </v-select>
        </div>
    </div>

    <v-calendar v-if="projectId"
                :url="workLogsUrl"
                @dayRender="onDayRender"
                ref="calendar"
    ></v-calendar>

    <modal-time v-if="showEventAdd"
                @close="onCloseEventAdd"
                :event="eventAdd"
                :title="$trans('Add :project hours', { project: project.name })"
    ></modal-time>
</div>