<div class="container work-log">
    <div class="panel panel-info" v-if="projects.length">
        <table class="table">
            <thead>
            <tr>
                <th>{{ $trans('Project') }}</th>
                <th>{{ $trans('Office') }}</th>
                <th>{{ $trans('Fieldwork') }}</th>
                <th class="text-right">{{ $trans('Log work') }}</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="project in projects">
                <td><strong>{{ project.lkz }}</strong>, <strong>{{ project.kerg }}</strong> {{ project.name }}</td>
                <td>{{ project.time_office }}</td>
                <td>{{ project.time_fieldwork }}</td>
                <td class="text-right">
                    <a class="btn btn-sm btn-default"
                       role="button"
                       :href="getWorkLogUrl(project)"
                       v-text="$trans('Log work')"
                    >
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <v-calendar url="/api/search/work-logs/fullcalendar"
                @all-render="onAllRender"
    ></v-calendar>
</div>
