<div class="statistics container-fluid">
    <div class="row-margin">
        <div class="col-xs-4">
            <ul class="nav nav-pills pull-right">
                <li role="presentation" :class="{active: onlyCompleted}" @click="toggleOnlyCompleted">
                    <a href="#">{{ $trans('Only completed') }}</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-4 form-group">
            <label for="form_start_year" v-text="$trans('Start year')"></label>
            <v-select id="form_start_year"
                      class="form-control"
                      v-model="startYears"
                      :multiple="true"
            >
                <option v-for="year in years" v-text="year"></option>
            </v-select>
        </div>

        <div class="col-xs-4 form-group">
            <label for="form_end_year" v-text="$trans('End year')"></label>
            <v-select id="form_end_year"
                      class="form-control"
                      v-model="endYears"
                      :multiple="true"
            >
                <option v-for="year in years" v-text="year"></option>
            </v-select>
        </div>
    </div>

    <div v-if="statistics">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ $trans('Project group') }}</th>
                <th>{{ $trans('Office') }}</th>
                <th>{{ $trans('Fieldwork') }}</th>
                <th>{{ $trans('Hours summary') }}</th>
                <th>{{ $trans('Value') }}</th>
                <th>{{ $trans('Hour value') }}</th>
            </tr>
            <tr>
                <th></th>
                <th>{{ all.office }}</th>
                <th>{{ all.fieldwork }}</th>
                <th>{{ all.total }}</th>
                <th>{{ all.value }} PLN</th>
                <th>{{ all.hour_value }} PLN</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in projectGroups">
                <td>{{ row.project_group }}</td>
                <td>{{ row.office }}</td>
                <td>{{ row.fieldwork }}</td>
                <td>{{ row.total }}</td>
                <td>{{ row.value }} PLN</td>
                <td>{{ row.hour_value }} PLN</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div v-else>
        Loading...
    </div>
</div>
