<div class="statistics container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            <a class="btn btn-info" :href="editUrl">{{ $trans('Edit') }}</a>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12 form-group">
            <label for="form_project_id" v-text="$trans('Project')"></label>
            <v-select id="form_project_id"
                      name="project_id"
                      class="form-control input-lg"
                      :placeholder="$trans('Wybierz zlecenie')"
                      url="/dashboard/api/select2/projects"
                      v-model="projectId"
                      ref="project"
            >
            </v-select>
        </div>
    </div>

    <div v-if="project">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ $trans('Employee') }}</th>
                <th>{{ $trans('Date') }}</th>
                <th>{{ $trans('Office') }}</th>
                <th>{{ $trans('Fieldwork') }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in statisticsFormatted">
                <template v-if="row.date">
                    <td>{{ row.employee }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.office }}</td>
                    <td>{{ row.fieldwork }}</td>
                </template>

                <template v-else>
                    <th>{{ row.employee }}</th>
                    <th>--</th>
                    <th>{{ row.office }}</th>
                    <th>{{ row.fieldwork }}</th>
                </template>
            </tr>
            </tbody>
        </table>

        <strong>{{ $trans('Hours in office') }}</strong>: {{ summary.office }}<br/>
        <strong>{{ $trans('Hours in fieldwork') }}</strong>: {{ summary.fieldwork }}<br/>
        <strong>{{ $trans('Hours summary') }}</strong>: {{ summary.total }}<br/>
        <strong>{{ $trans('Hour value') }}</strong>: {{ summary.value }} PLN
    </div>

    <div v-if="!project && projectId">
        Loading...
    </div>
</div>
