// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "sandstone/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "sandstone/bootswatch";

// Select2
@import "node_modules/select2/src/scss/core";
@import "node_modules/select2-bootstrap-theme/src/select2-bootstrap";

.navbar-brand {
  font-weight: bold;
}

.btn-logout {
  width: 100%;
  padding: 3px 20px;
  text-align: left;
}

.project-search {
  .search {
    margin-bottom: 20px;

    input[name=search] {
      margin-bottom: 8px;
    }
  }

  .results {
    .panel {
      margin-bottom: 8px;

      .panel-heading {
        cursor: pointer;

        .label:not(:first-child) {
          margin-left: 2px;
        }
      }
    }
  }
}