// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Select2
@import "node_modules/select2/src/scss/core";
@import "node_modules/select2-bootstrap-theme/src/select2-bootstrap";
@import "node_modules/fullcalendar/dist/fullcalendar";

.navbar-brand {
  font-weight: bold;
}

.btn-logout {
  width: 100%;
  padding: 3px 20px;
  text-align: left;
}

.project-search {
  .search {
    margin-bottom: 20px;

    input[name=search] {
      margin-bottom: 8px;
    }
  }

  .results {
    .panel {
      margin-bottom: 8px;

      .panel-heading {
        .label:not(:first-child) {
          margin-left: 2px;
        }
      }
    }
  }
}

.work-log {
  .fc-event {
    .fc-content {
      text-align: center;

      .fc-title {
        font-weight: bold;
      }

      .fc-body {
        text-align: left;
        margin-top: 8px;

        .view {
          display: block;
        }

        .edit {
          display: none;
        }
      }
    }

    &.fc-edit .fc-content {
      .fc-body {
        .view {
          display: none;
        }

        .edit {
          display: block;
        }
      }
    }
  }
}