// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-sidebar/dist/css/sidebar";
// Select2
@import "~select2/src/scss/core";
@import "~select2-bootstrap-theme/src/select2-bootstrap";

body {
  padding-top: 51px;
}

.main {
  margin-bottom: 30px;
}

.row-margin {
  @extend .row;

  margin-bottom: 15px;
}

.sidebar {
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;

  .navbar-user {
    margin-bottom: 15px;

    & > li > .dropdown-toggle {
      background-color: lighten($gray-base, 90%);
      font-weight: bold;
      font-size: $font-size-large;
      color: $gray-base;
    }
  }

  .navbar-sidebar {
    & > li > a:hover {
      font-weight: bold;
      background-color: inherit;
    }

    & > .active {
      background-color: #e7e7e7;
      font-weight: bold;
    }
  }
}

.breadcrumb {
  .breadcrumb-item {
    a {
      font-weight: bold;
    }

    &:last-child a {
      color: #757575;
      font-weight: normal;
    }
  }
}

.project-create, .project-edit {
  [name=description] {
    resize: vertical;
    height: 200px;
  }
}
