<v-form class="user-change-password container"
        method="PATCH"
        :action="formAction"
        :formData="getFormData"
        @success="onFormSuccess"
>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="form_password">{{ $trans('New password') }}</label>
            <input type="password"
                   id="form_password"
                   class="form-control"
                   v-model="password"
            >
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" type="submit">{{ $trans('Submit') }}</button>
        </div>
    </div>
</v-form>